@font-face {
  font-family: "Morpha";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Morpha-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Morpha";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Morpha-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/VelaSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/VelaSans-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/VelaSans-Regular.ttf");
  font-display: swap;
}