:root  {
  --color-accent: #F15C4C;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #533F40;
  --color-opium: #867472;
  --color-light: #b1d3e1;
  --color-tacao: #F2AC92;
  --color-linen: #FBEFE9;
}