<section class="section about">
  <div class="about__container">
    <div class="section-box col-12 row">
      <span class="section-label col-2">О квартале</span>
      <h2 class="section-title col-8"><span class="left-1">С0времеНн0е</span> <span class="left-0-5">прОстранстВ0</span> <span class="left-1-5">в&nbsp;н0в0АлтайскЕ</span></h2>
      {{!-- <div class="col-2"></div> --}}
    </div>
    <div class="about__box col-12 row">
      <div class="col-5 about__circle">
        <img src="/public/img/about/about-1.png" alt="">
      </div>
      <div class="col-7 about__info info-about">
        <div class="info-about__text">
          <p>Жить в&nbsp;современной квартире, уединенно от&nbsp;шумного города</p>
          <p>Уникальная концепция ЖК&nbsp;&laquo;ПЕРЕМЕНА&raquo; сочетает в&nbsp;себе развитую инфраструктуру центра города, необходимую для комфортного проживания людей, ценящих уют.</p>
        </div>
        <ul class="info-about__list">
          <li class="info-about__item">
            <span class="info-about__value">IV&nbsp;кв.&nbsp;2025</span>
            <span class="info-about__descr">срок сдачи дома</span>
          </li>
          <li class="info-about__item">
            <span class="info-about__value">20&nbsp;мин.</span>
            <span class="info-about__descr">до&nbsp;центра Барнаула</span>
          </li>
          <li class="info-about__item">
            <span class="info-about__value">5&nbsp;мин. пешком</span>
            <span class="info-about__descr">до&nbsp;центра Новоалтайска</span>
          </li>
        </ul>
        <div class="info-about__btns">
          <button class="btn btn-reset btn-fill">Выбрать квартиру</button>
          <button class="btn btn-reset btn-stroke js-open-modal-main">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
</section>
