<section class="section contacts-page contacts-page__detail detail">
  <div class="progress__container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-main" href="">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="">Контакты</a>
      </li>
    </ul>
    <div class="section-box col-12 row">
      {{!-- <span class="section-label col-2">Ход строительства</span> --}}
      <h2 class="progress__title section-title col-8"><span class="">К0нтаКтная</span> <span class="left-1">инФоРмация</span></h2>
    </div>
    <div class="contacts-page__box">
      <div class="contacts-page__descr">
        <a class="contacts-page__link" href="">+ 7 (3852) 38-52-52</a>
        <a class="contacts-page__link" href="">sales@peremena.ru</a>
      </div>
      <div class="col-12 contacts-page__info">
        <div class="col-4">
          <ul class="contacts-page__list">
            <li class="contacts-page__item">
              <span class="contacts-page__heading">Жилой квартал &laquo;Перемена&raquo;</span>
              <span class="contacts-page__value">г. Новоалтайск,ул. Южсиба, 52А</span>
            </li>
            <li class="contacts-page__item">
              <span class="contacts-page__heading">График работы</span>
              <span class="contacts-page__value">9:00—16:00 ПН-пт</span>
            </li>
          </ul>
          <ul class="contacts-page__list">
            <li class="contacts-page__item">
              <span class="contacts-page__heading">Офис продаж СЗ «Монолит»</span>
              <span class="contacts-page__value">г. Барнаул,ул. Профинтерна&nbsp;53</span>
            </li>
            <li class="contacts-page__item">
              <span class="contacts-page__heading">График работы</span>
              <span class="contacts-page__value">9:00—18:00 ПН-пт</span>
            </li>
          </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-7 contacts-page__map">
          <div id="contacts-page__map"></div>
        </div>
      </div>
    </div>
  </div>
</section>