<section class="section gallery">
  <div class="gallery__container">
    <div class="section-box gallery-box col-12 row">
      <span class="section-label col-2">Галерея</span>
      <h2 class="section-title col-8"><span class="left-1">УвидЕть </span> <span class="">своими ГлазАми</span></h2>
      {{!-- <div class="col-2"></div> --}}
    </div>
    <div class="gallery__box col-12 row">
      <div class="col-8 gallery-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gallery__image">
              <img src="/public/img/gallery/1.jpg" alt="">
            </div>
            <div class="swiper-marker-1 swiper-marker">
              <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32.5325" height="32" rx="10" fill="white"/>
                <path d="M14.1059 7C14.2744 7 14.436 7.06585 14.5552 7.18306C14.6743 7.30027 14.7413 7.45924 14.7413 7.625C14.7413 7.79076 14.6743 7.94973 14.5552 8.06694C14.436 8.18415 14.2744 8.25 14.1059 8.25H10.2935C9.7879 8.25 9.30305 8.44754 8.94557 8.79917C8.58809 9.15081 8.38726 9.62772 8.38726 10.125V11.375C8.38726 11.5408 8.32031 11.6997 8.20115 11.8169C8.08199 11.9342 7.92037 12 7.75186 12C7.58334 12 7.42172 11.9342 7.30256 11.8169C7.1834 11.6997 7.11646 11.5408 7.11646 11.375V10.125C7.11646 9.2962 7.45117 8.50134 8.04698 7.91529C8.64278 7.32924 9.45087 7 10.2935 7H14.1059ZM7.11646 16.625C7.11646 15.7962 7.45117 15.0013 8.04698 14.4153C8.64278 13.8292 9.45087 13.5 10.2935 13.5H15.6308C16.4734 13.5 17.2815 13.8292 17.8773 14.4153C18.4731 15.0013 18.8078 15.7962 18.8078 16.625V21.875C18.8078 22.7038 18.4731 23.4987 17.8773 24.0847C17.2815 24.6708 16.4734 25 15.6308 25H10.2935C9.45087 25 8.64278 24.6708 8.04698 24.0847C7.45117 23.4987 7.11646 22.7038 7.11646 21.875V16.625ZM15.6308 23.75C16.1364 23.75 16.6212 23.5525 16.9787 23.2008C17.3362 22.8492 17.537 22.3723 17.537 21.875V16.625C17.537 16.1277 17.3362 15.6508 16.9787 15.2992C16.6212 14.9475 16.1364 14.75 15.6308 14.75H10.2935C9.7879 14.75 9.30305 14.9475 8.94557 15.2992C8.58809 15.6508 8.38726 16.1277 8.38726 16.625V21.875C8.38726 22.3723 8.58809 22.8492 8.94557 23.2008C9.30305 23.5525 9.7879 23.75 10.2935 23.75H15.6308ZM20.9682 25C20.7997 25 20.6381 24.9342 20.5189 24.8169C20.3997 24.6997 20.3328 24.5408 20.3328 24.375C20.3328 24.2092 20.3997 24.0503 20.5189 23.9331C20.6381 23.8158 20.7997 23.75 20.9682 23.75H22.239C22.7446 23.75 23.2294 23.5525 23.5869 23.2008C23.9444 22.8492 24.1452 22.3723 24.1452 21.875V18.125C24.1452 17.9592 24.2121 17.8003 24.3313 17.6831C24.4505 17.5658 24.6121 17.5 24.7806 17.5C24.9491 17.5 25.1107 17.5658 25.2299 17.6831C25.3491 17.8003 25.416 17.9592 25.416 18.125V21.875C25.416 22.7038 25.0813 23.4987 24.4855 24.0847C23.8897 24.6708 23.0816 25 22.239 25H20.9682ZM18.4266 8.25C18.2581 8.25 18.0965 8.18415 17.9773 8.06694C17.8581 7.94973 17.7912 7.79076 17.7912 7.625C17.7912 7.45924 17.8581 7.30027 17.9773 7.18306C18.0965 7.06585 18.2581 7 18.4266 7H22.239C23.0816 7 23.8897 7.32924 24.4855 7.91529C25.0813 8.50134 25.416 9.2962 25.416 10.125V13.875C25.416 14.0408 25.3491 14.1997 25.2299 14.3169C25.1107 14.4342 24.9491 14.5 24.7806 14.5C24.6121 14.5 24.4505 14.4342 24.3313 14.3169C24.2121 14.1997 24.1452 14.0408 24.1452 13.875V10.125C24.1452 9.62772 23.9444 9.15081 23.5869 8.79917C23.2294 8.44754 22.7446 8.25 22.239 8.25H18.4266Z" fill="#F15C4C"/>
              </svg>
              <div class="swiper-marker-text">
                <span>Много естественного света</span>
              </div>
            </div>
            <div class="swiper-marker-2 swiper-marker">
              <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32.5325" height="32" rx="10" fill="white"/>
                <path d="M14.1059 7C14.2744 7 14.436 7.06585 14.5552 7.18306C14.6743 7.30027 14.7413 7.45924 14.7413 7.625C14.7413 7.79076 14.6743 7.94973 14.5552 8.06694C14.436 8.18415 14.2744 8.25 14.1059 8.25H10.2935C9.7879 8.25 9.30305 8.44754 8.94557 8.79917C8.58809 9.15081 8.38726 9.62772 8.38726 10.125V11.375C8.38726 11.5408 8.32031 11.6997 8.20115 11.8169C8.08199 11.9342 7.92037 12 7.75186 12C7.58334 12 7.42172 11.9342 7.30256 11.8169C7.1834 11.6997 7.11646 11.5408 7.11646 11.375V10.125C7.11646 9.2962 7.45117 8.50134 8.04698 7.91529C8.64278 7.32924 9.45087 7 10.2935 7H14.1059ZM7.11646 16.625C7.11646 15.7962 7.45117 15.0013 8.04698 14.4153C8.64278 13.8292 9.45087 13.5 10.2935 13.5H15.6308C16.4734 13.5 17.2815 13.8292 17.8773 14.4153C18.4731 15.0013 18.8078 15.7962 18.8078 16.625V21.875C18.8078 22.7038 18.4731 23.4987 17.8773 24.0847C17.2815 24.6708 16.4734 25 15.6308 25H10.2935C9.45087 25 8.64278 24.6708 8.04698 24.0847C7.45117 23.4987 7.11646 22.7038 7.11646 21.875V16.625ZM15.6308 23.75C16.1364 23.75 16.6212 23.5525 16.9787 23.2008C17.3362 22.8492 17.537 22.3723 17.537 21.875V16.625C17.537 16.1277 17.3362 15.6508 16.9787 15.2992C16.6212 14.9475 16.1364 14.75 15.6308 14.75H10.2935C9.7879 14.75 9.30305 14.9475 8.94557 15.2992C8.58809 15.6508 8.38726 16.1277 8.38726 16.625V21.875C8.38726 22.3723 8.58809 22.8492 8.94557 23.2008C9.30305 23.5525 9.7879 23.75 10.2935 23.75H15.6308ZM20.9682 25C20.7997 25 20.6381 24.9342 20.5189 24.8169C20.3997 24.6997 20.3328 24.5408 20.3328 24.375C20.3328 24.2092 20.3997 24.0503 20.5189 23.9331C20.6381 23.8158 20.7997 23.75 20.9682 23.75H22.239C22.7446 23.75 23.2294 23.5525 23.5869 23.2008C23.9444 22.8492 24.1452 22.3723 24.1452 21.875V18.125C24.1452 17.9592 24.2121 17.8003 24.3313 17.6831C24.4505 17.5658 24.6121 17.5 24.7806 17.5C24.9491 17.5 25.1107 17.5658 25.2299 17.6831C25.3491 17.8003 25.416 17.9592 25.416 18.125V21.875C25.416 22.7038 25.0813 23.4987 24.4855 24.0847C23.8897 24.6708 23.0816 25 22.239 25H20.9682ZM18.4266 8.25C18.2581 8.25 18.0965 8.18415 17.9773 8.06694C17.8581 7.94973 17.7912 7.79076 17.7912 7.625C17.7912 7.45924 17.8581 7.30027 17.9773 7.18306C18.0965 7.06585 18.2581 7 18.4266 7H22.239C23.0816 7 23.8897 7.32924 24.4855 7.91529C25.0813 8.50134 25.416 9.2962 25.416 10.125V13.875C25.416 14.0408 25.3491 14.1997 25.2299 14.3169C25.1107 14.4342 24.9491 14.5 24.7806 14.5C24.6121 14.5 24.4505 14.4342 24.3313 14.3169C24.2121 14.1997 24.1452 14.0408 24.1452 13.875V10.125C24.1452 9.62772 23.9444 9.15081 23.5869 8.79917C23.2294 8.44754 22.7446 8.25 22.239 8.25H18.4266Z" fill="#F15C4C"/>
              </svg>
              <div class="swiper-marker-text">
                <span>Много естественного света</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__image">
              <img src="/public/img/gallery/1.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__image">
              <img src="/public/img/gallery/1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="box-gallery-inner col-4">
        <div class="box-gallery__info">
          <div class=" gallery__info info-gallery">
            <div class="info-gallery__descr _showEffect">
              <h3 class="info-gallery__heading">Фасад</h3>
              <p class="info-gallery__text">Особенность фасада&nbsp;&mdash; это использование кирпича, что делает его вид спокойным и&nbsp;солидным. Внешний вид дома подчёркивает высокий социальный статус живущих в&nbsp;этом доме людей. Кроме того, фасад способен принимать большое количество солнечного света, что создаёт приятную атмосферу внутри квартир и&nbsp;экономит электроэнергию.</p>
            </div>
            <div class="info-gallery__descr">
              <h3 class="info-gallery__heading">Фасад1</h3>
              <p class="info-gallery__text">Особенность фасада&nbsp;&mdash; это использование кирпича, что делает его вид спокойным и&nbsp;солидным. Внешний вид дома подчёркивает высокий социальный статус живущих в&nbsp;этом доме людей. Кроме того, фасад способен принимать большое количество солнечного света, что создаёт приятную атмосферу внутри квартир и&nbsp;экономит электроэнергию.</p>
            </div>
            <div class="info-gallery__descr">
              <h3 class="info-gallery__heading">Фасад2</h3>
              <p class="info-gallery__text">Особенность фасада&nbsp;&mdash; это использование кирпича, что делает его вид спокойным и&nbsp;солидным. Внешний вид дома подчёркивает высокий социальный статус живущих в&nbsp;этом доме людей. Кроме того, фасад способен принимать большое количество солнечного света, что создаёт приятную атмосферу внутри квартир и&nbsp;экономит электроэнергию.</p>
            </div>
          </div>
          <div class="gallery-navigation">
            <div class="gallery-nav">
              <div class="gallery-btn gallery-prev swiper-button-prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.1171 0.0661697L0.36753 11.1924C0.252163 11.293 0.15964 11.4173 0.0962285 11.557C0.0328172 11.6967 -5.31162e-07 11.8484 -5.2445e-07 12.002C-5.17738e-07 12.1555 0.0328172 12.3073 0.0962286 12.447C0.15964 12.5866 0.252163 12.711 0.36753 12.8116L13.1171 23.9344C13.1555 23.968 13.2027 23.9898 13.2531 23.9972C13.3035 24.0046 13.355 23.9972 13.4013 23.9761C13.4477 23.9549 13.487 23.9207 13.5146 23.8777C13.5422 23.8346 13.557 23.7845 13.557 23.7333L13.557 21.0179C13.557 20.8637 13.4904 20.7162 13.3737 20.6123L4.96403 13.2742L23.7333 13.2742C23.88 13.2742 24 13.1535 24 13.006L24 10.9946C24 10.8471 23.88 10.7264 23.7333 10.7264L4.96403 10.7264L13.3737 3.38828C13.4904 3.28771 13.557 3.14021 13.557 2.98266L13.557 0.267307C13.557 0.0393514 13.2904 -0.084683 13.1171 0.0661697Z" fill="#F15C4C" />
                </svg>
              </div>
              <div class="gallery-btn gallery-next swiper-button-next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.8829 0.0661692L23.6325 11.1924C23.7478 11.293 23.8404 11.4173 23.9038 11.557C23.9672 11.6967 24 11.8484 24 12.002C24 12.1555 23.9672 12.3073 23.9038 12.447C23.8404 12.5866 23.7478 12.711 23.6325 12.8116L10.8829 23.9344C10.8445 23.968 10.7973 23.9898 10.7469 23.9972C10.6965 24.0046 10.645 23.9972 10.5987 23.9761C10.5523 23.9549 10.513 23.9207 10.4854 23.8777C10.4578 23.8346 10.443 23.7845 10.443 23.7333L10.443 21.0179C10.443 20.8637 10.5096 20.7162 10.6263 20.6123L19.036 13.2742L0.266657 13.2742C0.119996 13.2742 -1.43323e-06 13.1535 -1.42678e-06 13.006L-1.33887e-06 10.9946C-1.33242e-06 10.8471 0.119996 10.7264 0.266657 10.7264L19.036 10.7264L10.6263 3.38828C10.5096 3.28771 10.443 3.14021 10.443 2.98266L10.443 0.267307C10.443 0.0393518 10.7096 -0.084683 10.8829 0.0661692Z" fill="#F15C4C" />
                </svg>
              </div>
            </div>
            <div class="gallery-pregressbar">
              <div class="counter">
              </div>
              <div class="gallery-progress swiper-pagination">
              </div>
              <div class="counter2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>