<section class="hero" id="hero" data-section="hero">
  <div class="hero__container col-12 row">
    <div class="hero__descr col-5-5">
      <h1 class="hero__title">ГлаВная <br> <span class="decor-left">в&nbsp;ЖизНи</span> пеРЕмена</h1>
      <p class="decor-left-2 hero__subtitle">Квартал в&nbsp;Новоалтайске, в&nbsp;окружении инфраструктуры для тех, кто готов к&nbsp;новому</p>
    </div>
    <div class="hero__info col-6-5">
      <div class="hero__quantity quantity-hero__container quantity-hero">
        <div class="quantity-hero__box">
          <svg width="162" height="186" viewBox="0 0 162 186" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M162 7.69674L153.967 0H8.03352L0 7.69674V178.303L8.03352 186H153.967L162 178.303V7.69674Z" fill="#F15C4C" />
          </svg>
        </div>
        <a href="" class="quantity-hero__info">
          <span class="quantity-hero__value">44</span>
          <span class="quantity-hero__descr">квартиры в&nbsp;продаже</span>
          <span class="quantity-hero__descr-mobile">квартир</span>
        </a>
        <p class="quantity-hero__text">В&nbsp;продаже осталось</p>
      </div>
    </div>
  </div>
</section>

