<section class="section news detail">
  <div class="news__container">
    <div class="section-box col-12 row">
      {{!-- <span class="section-label col-2">Новости и&nbsp;акции</span> --}}
      <h2 class="section-title news__title col-8"><span class="left-1">вЫГ0дные события</span> <span class="left-0-5">длЯ&nbsp;Б0ЛЬШих пЕремен</span></h2>
    </div>
    <div class="news__list">
      <a class="news__item news__item-main" href="/peremena/src/pages/news-detail.html">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item news__item-main" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item news__item-main" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
      <a class="news__item" href="">
        <div class="news__info">
          <h3 class="news__heading">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h3>
          <span class="news__descr">до&nbsp;12&nbsp;июня 2024</span>
        </div>
        <span class="news__data">24.07</span>
      </a>
</section>