<section class="detail news-detail section">
  <div class="news-detail__container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-main" href="">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="">Новости и&nbsp;акции</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</a>
      </li>
    </ul>
    <div class="col-12 row news-detail__box text-container">
      <div class="col-5">
        <h2 class="news-detail__title">Ипотека&nbsp;9,1% на&nbsp;сумму до&nbsp;60&nbsp;млн&nbsp;₽</h2>
        <div class="news-detail__info text-container">
          <p>Мы&nbsp;рады предложить вам ипотеку всего под 9,1% годовых на&nbsp;сумму до&nbsp;60&nbsp;миллионов рублей. Выбирайте планировку, которая подходит именно вам, и&nbsp;воплощайте свои мечты о&nbsp;комфортном жильё уже сегодня.
          </p>
          <p>Наши менеджеры всегда готовы проконсультировать вас по&nbsp;всем вопросам приобретения квартиры. Ждём вас!</p>
        </div>
        <button class="btn btn-reset btn-fill">Выбрать квартиру</button>
      </div>
      <div class="col-1"></div>
      <div class="col-6 news-detail__descr">
        <div class="news-detail__image">
          <img src="/public/img/appartamets/1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>