<section class="section progress progress-detail detail">
  <div class="progress__container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-main" href="">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="">Ход строительства</a>
      </li>
    </ul>
    <div class="section-box col-12 row">
      {{!-- <span class="section-label col-2">Ход строительства</span> --}}
      <h2 class="progress__title section-title col-8"><span class="">Пр0ГреСс</span> <span class="left-1">стр0итЕльства</span></h2>
      <ul class="progress-detail__list col-4">
        <li class="progress-detail__item">
          <a class="progress-detail__link" href="">Все годы</a>
        </li>
        <li class="progress-detail__item">
          <a class="progress-detail__link active" href="">2024</a>
        </li>
        <li class="progress-detail__item">
          <a class="progress-detail__link" href="">2025</a>
        </li>
      </ul>
      {{!-- <a href="" class="col-2 section-link">
        Все альбомы
        <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.75498 7.9616L1.25529 0.544113C1.13974 0.443544 0.961968 0.526234 0.961968 0.678204L0.943569 2.33748C0.943569 2.44252 0.988012 2.54086 1.06579 2.6079L6.67225 7.5L7.66667 8.40871L7.66667 8.83333L6.67225 9.6079L1.06579 14.5C0.988011 14.5693 0.943568 14.6676 0.943568 14.7704L0.961967 16.3222C0.962028 16.3563 0.971845 16.3897 0.990252 16.4184C1.00866 16.4471 1.03488 16.4699 1.06579 16.484C1.09669 16.4982 1.13099 16.5031 1.16459 16.4981C1.19819 16.4932 1.22967 16.4787 1.25529 16.4563L9.75498 9.04104C9.83189 8.97399 9.89357 8.89109 9.93585 8.79797C9.97812 8.70485 10 8.60368 10 8.50132C10 8.39895 9.97812 8.29778 9.93585 8.20466C9.89357 8.11154 9.83189 8.02865 9.75498 7.9616Z" fill="#F15C4C" />
        </svg>
      </a> --}}
    </div>
    <div class="progress__box">
      <div class="js-open-modal-gallery">
        <div class="progress__image">
          <img src="/public/img/progress/1.jpg" alt="">
          <div class="progress__info">
            <span class="progress__heading">Апрель</span>
            <span class="progress__year">2024</span>
          </div>
          <span class="progress__value">24 фото</span>
        </div>
      </div>
      <div class="js-open-modal-gallery">
        <div class="progress__image">
          <img src="/public/img/progress/1.jpg" alt="">
          <div class="progress__info">
            <span class="progress__heading">Апрель</span>
            <span class="progress__year">2024</span>
          </div>
          <span class="progress__value">24 фото</span>
        </div>
      </div>
      <div class="js-open-modal-gallery">
        <div class="progress__image">
          <img src="/public/img/progress/1.jpg" alt="">
          <div class="progress__info">
            <span class="progress__heading">Апрель</span>
            <span class="progress__year">2024</span>
          </div>
          <span class="progress__value">24 фото</span>
        </div>
      </div>
    </div>
  </div>
</section>